* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #787878; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

.parallax {
  background-image: url(../images/bg-top.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1234px;
  width: 1950; }

.container {
  width: 1170px;
  margin: 0 auto; }

.clear {
  clear: both; }

.travelino {
  padding: 70px 0 64px; }
  .travelino .logo {
    width: 356px;
    float: left; }
    .travelino .logo .tagline {
      font: 300 15px/1em 'Open Sans',sans-serif;
      text-transform: uppercase; }
  .travelino .social {
    width: 250px;
    float: right; }
    .travelino .social .social-nav {
      margin: 0;
      padding: 0; }
    .travelino .social .social-nav-item {
      display: inline-block;
      list-style: none;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
      line-height: 32px;
      margin-left: 9px;
      text-align: center;
      box-shadow: 2px 2px 0 rgba(29, 29, 34, 0.4);
      background-color: #2f363e; }
    .travelino .social .social-nav-item a {
      text-decoration: none;
      outline: none; }
    .travelino .social .social-nav-item img {
      transition: all 0.3s ease 0s; }
      .travelino .social .social-nav-item img:hover {
        background-color: #65d1d7;
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg); }

/*nav*/
.navgation {
  height: 71px;
  background-color: #65d1d7; }
  .navgation .nav-menu {
    margin: 0;
    padding: 0; }
    .navgation .nav-menu .nav-menu-item {
      width: 160px;
      background: none;
      float: left;
      display: inline-block;
      border: none;
      border-left: 1px solid #91e5e9;
      border-right: 1px solid #37bdc6;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .navgation .nav-menu a {
      border: none;
      padding: 26px 0 27px;
      display: block;
      text-transform: uppercase;
      border-radius: 0;
      position: relative;
      letter-spacing: -0.5px;
      transition: all 0.3s ease 0s;
      font-weight: 600;
      overflow: hidden;
      color: #fff;
      font: normal 14px/17px Open Sans;
      text-align: center;
      text-decoration: none; }
    .navgation .nav-menu .home {
      width: 67px; }
    .navgation .nav-menu .home a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../images/home.png) no-repeat 50%;
      display: block; }
  .navgation .form-seach {
    position: relative;
    width: 100%;
    text-align: right;
    margin: 16px -36px 0;
    top: 16px; }
    .navgation .form-seach .input {
      width: 242px;
      background: #54bac1;
      border-radius: 10px;
      padding-right: 40px;
      border: none;
      height: 39px;
      color: #ffffff;
      box-shadow: inset 1px 1px 0 #4da9af;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none; }
    .navgation .form-seach .submit {
      position: absolute;
      right: 10px;
      top: 8px;
      margin: 0;
      padding: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../images/search.png) no-repeat;
      width: 22px;
      height: 23px;
      box-shadow: none;
      transition: none;
      border: none;
      outline: none; }

/*slide-shows*/
.slide-shows {
  height: 441px;
  background: url(../images/slide.png) no-repeat; }
  .slide-shows .caption {
    width: 80%;
    padding: 55px; }
    .slide-shows .caption .start-prev {
      width: 50%;
      margin-top: 40px; }
      .slide-shows .caption .start-prev span {
        background: url(../images/nav-slider.png) no-repeat;
        display: block;
        width: 110px;
        height: 54px;
        cursor: pointer; }
        .slide-shows .caption .start-prev span:hover {
          background-position: 0 -54px; }
  .slide-shows h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    margin: 0;
    display: block; }
  .slide-shows b {
    font-weight: 600px;
    color: #fff; }

/*featured*/
.featured {
  height: 262px;
  background-color: #243238;
  margin-top: 7px; }
  .featured .title-featured {
    background-color: #f2f2f2;
    font-weight: 300;
    color: #000;
    padding: 22px 32px 23px; }
  .featured .carousel {
    width: 1071px;
    height: 133px;
    margin: 0 auto;
    margin-top: 25px; }
  .featured .carousel-list {
    margin: 0px;
    padding: 0px; }
  .featured .carousel-list-item {
    display: inline-block;
    float: left;
    list-style: none;
    width: 185px;
    height: 119px;
    background-color: red;
    margin: 0 8px;
    border: 6px solid #fff; }
    .featured .carousel-list-item:hover {
      border-color: #d9bb4b; }
    .featured .carousel-list-item img {
      display: block;
      margin: 0;
      padding: 0;
      max-width: 100%;
      max-height: 100%;
      border: none; }

.nes-nav {
  position: relative;
  background-position: top right; }
  .nes-nav .nes-nav-prev {
    left: -18px;
    background-position: top right; }
  .nes-nav .nes-nav-nest {
    text-indent: -9999px;
    width: 54px;
    position: absolute;
    height: 73px;
    right: -70px;
    top: 34px;
    background-position: -52px 2px;
    background: transparent url(../images/nav.png) no-repeat top right;
    opacity: 0.8;
    cursor: pointer; }
    .nes-nav .nes-nav-nest:hover {
      background-position: -51px -73px; }

/*news-content*/
.news-content {
  height: 430px;
  background-color: pink;
  margin-top: 30px; }
  .news-content .gallary-news {
    width: 100%;
    box-sizing: border-box; }
  .news-content .gallary-news-item {
    margin: 0 11px;
    float: left;
    width: 270px;
    height: 431px;
    cursor: pointer; }
    .news-content .gallary-news-item h5 {
      color: #fff;
      padding: 18px 32px;
      margin: 0;
      font-size: 25px;
      font-weight: 600; }
    .news-content .gallary-news-item p {
      padding: 30px 31px;
      color: #fff;
      margin-bottom: 24px; }
    .news-content .gallary-news-item .link-more {
      margin: 0 32px 30px 32px; }
      .news-content .gallary-news-item .link-more .btn {
        background: #fff;
        box-shadow: none;
        padding: 10px 24px;
        color: #65d1d7;
        font: 600 14px/1.2em 'Open Sans',sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        font-weight: 600; }
        .news-content .gallary-news-item .link-more .btn:hover {
          background-color: #30373f; }
    .news-content .gallary-news-item .online-img a {
      border: none;
      display: block;
      overflow: hidden; }
    .news-content .gallary-news-item .online-img img {
      vertical-align: middle;
      border: 0;
      width: 270px;
      height: 109px; }
  .news-content .colorgb {
    background-color: #65d1d7; }
  .news-content .colorgb1 {
    background-color: #6ccbaf; }
  .news-content .colorgb2 {
    background-color: #cbb359; }
  .news-content .colorgb3 {
    background-color: #c06f8c; }

/**hello-content**/
.hello-content {
  height: 530px;
  background-color: green;
  padding: 300px 0px; }
  .hello-content .welcome-left {
    width: 571px;
    height: 596px;
    background-color: navy;
    float: left; }
    .hello-content .welcome-left .gallary {
      width: 100%; }
    .hello-content .welcome-left .galary-event-img {
      float: left;
      width: 303px;
      height: 307px;
      background-color: purple; }
    .hello-content .welcome-left .galary-event-desc {
      float: left;
      width: 246px;
      height: 307px;
      color: #000;
      background-color: #fff; }
    .hello-content .welcome-left .text {
      text-align: left;
      background-color: pink; }
    .hello-content .welcome-left .title-box .title-hello {
      font-size: 45px;
      line-height: 42px;
      margin: 8px 0 0;
      color: #5ecdd4;
      font-weight: 600; }
    .hello-content .welcome-left .title-box .title-our {
      font-size: 25px;
      line-height: 28px;
      margin: 1px 0 25px 5px;
      color: #181818;
      font-weight: 300; }
  .hello-content .welcome-right {
    width: 563px;
    height: 596px;
    background-color: gray;
    float: right; }
    .hello-content .welcome-right .gallary {
      width: 100%; }
    .hello-content .welcome-right .galary-event-img {
      float: left;
      width: 303px;
      height: 307px;
      background-color: purple; }
    .hello-content .welcome-right .galary-event-desc {
      float: left;
      width: 246px;
      height: 307px;
      background-color: #fff; }

/*footer-content*/
.footer-content {
  height: 317px;
  background-color: red; }
  .footer-content .logo-footer-left {
    float: left;
    width: 500px;
    height: 250px;
    background-color: yellow; }
  .footer-content .footer-category-right {
    float: right;
    width: 500px;
    height: 250px;
    background-color: yellow; }

/*# sourceMappingURL=main.css.map */
