* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #787878;
  background-color: #292f36;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
$color: (
  black: #000,
  white: #fff,
  n_social: #2f363e,
  sky: #65d1d7
  );
.parallax {
  background-image: url(../images/bg-top.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1234px;
  width: 1950
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.travelino {
  padding: 70px 0 64px;
  .logo {
    width: 356px;
    float: left;
    .tagline {
      font: 300 15px/1em 'Open Sans',sans-serif;
      text-transform: uppercase;

    }
  }
  .social {
    width: 250px;
    float: right;
    .social-nav {
      margin: 0;
      padding: 0;
    }
    .social-nav-item {
      display: inline-block;
      list-style: none;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
      line-height: 32px;
      margin-left: 9px;
      text-align: center;
      box-shadow: 2px 2px 0 rgba(29,29,34,0.4);
      background-color: map-get($color, n_social);
    }
    .social-nav-item a {
      text-decoration: none;
      outline: none;
    }
    .social-nav-item img {
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: map-get($color, sky);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }
  }
}

/*nav*/
.navgation {
  height: 71px;
  background-color: map-get($color, sky);
  .nav-menu {
    margin: 0;
    padding: 0;
    .nav-menu-item {
      width: 160px;
      background: none;
      float: left;
      display: inline-block;
      border: none;
      border-left: 1px solid #91e5e9;
      border-right: 1px solid #37bdc6;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box
    }
    a {
      border: none;
      padding: 26px 0 27px;
      display: block;
      text-transform: uppercase;
      border-radius: 0;
      position: relative;
      letter-spacing: -0.5px;
      transition: all 0.3s ease 0s;
      font-weight: 600;
      overflow: hidden;
      color: map-get($color, white);
      font: normal 14px/17px Open Sans;
      text-align: center;
      text-decoration: none;
    }
    .home {
      width: 67px;
    }
    .home a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../images/home.png) no-repeat 50%;
      display: block;
    }
   }
  .form-seach {
    position: relative;
    width: 100%;
    text-align: right;
    margin: 16px -36px 0;
    top: 16px;
    .input {
      width: 242px;
      background: #54bac1;
      border-radius: 10px;
      padding-right: 40px;
      border: none;
      height: 39px;
      color: #ffffff;
      box-shadow: inset 1px 1px 0 #4da9af;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
    }
    .submit {
      position: absolute;
      right: 10px;
      top: 8px;
      margin: 0;
      padding: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../images/search.png) no-repeat;
      width: 22px;
      height: 23px;
      box-shadow: none;
      transition: none;
      border: none;
      outline: none;
    }
  }
}
 /*slide-shows*/
.slide-shows {
  height: 441px;
  background: url(../images/slide.png) no-repeat;
  .caption {
    width: 80%;
    padding: 55px;
  }
  h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    color: map-get($color, skype);
    margin: 0;
    display: block;
  }
  b {
    font-weight: 600px;
    color: map-get($color, white);
  }
}

/*featured*/
.featured {
  height: 262px;
  background-color: purple;
  .carousel {
    width: 1071px;
    height: 133px;
    margin: 0 auto;
  }
  .carousel-list {
    margin: 0px;
    padding: 0px;
  }
  .carousel-list-item {
    display: inline-block;
    list-style: none;
    width: 202px;
    height: 133px;
    background-color: red;
    margin: 0 31px;
  }
}

/*news-content*/
.news-content {
  height: 430px;
  background-color:pink;
  .gallary-news {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .gallary-news-item {
    margin: 0 11px;
    float: left;
    width: 270px;
    height: 430px;
    cursor: pointer;
    background-color: red;
  }
}
/**hello-content**/
.hello-content {
  height: 530px;
  background-color: green;
  padding: 150px 0;
  .welcome-left {
    width: 571px;
    height: 596px;
    background-color:navy;
    float: left;
    .gallary {
      width: 100%;
    }
    .galary-event-img {
      float: left;
      width: 303px;
      height: 307px;
      background-color: purple;
    }
    .galary-event-desc {
      float: left;
      width: 246px;
      height: 307px;
      color: map-get($color, black);
      background-color: map-get($color, white);
      }
    .text {
      float: left;
      width: 300px;
      background-color: pink;
    }  
  }
  .welcome-right {
    width: 563px;
    height: 596px;
    background-color:gray;
    float: right;
     .gallary {
      width: 100%;
    }
    .galary-event-img {
      float: left;
      width: 303px;
      height: 307px;
      background-color: purple;
    }
    .galary-event-desc {
      float: left;
      width: 246px;
      height: 307px;
      background-color: map-get($color, white);
      }
  }
}
/*footer-content*/
.footer-content {
  height: 317px;
  background-color: red;
  .logo-footer-left {
    float: left;
    width: 385px;
    height: 250px;
    background-color: yellow;
  }
  .footer-category-right {
    float: right;
    width: 385px;
    height: 250px;
    background-color: yellow;
  }
}

