@import 'mixin';
@import 'global';
.parallax {
  background-image: url(../images/bg-top.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1234px;
  width: 1950
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.travelino {
  padding: 70px 0 40px;
  .logo {
    width: 356px;
    float: left;
    .tagline {
    font-family: 'OpenSans';
    text-transform: uppercase;
    position: relative;
    top: -29px;
    left: 73px;
    color: rgb(255, 255, 255);
    }
  }
}
  .social {
    width: 250px;
    float: right;
    .social-nav {
      margin: 0;
      padding: 0;
    }
    .social-nav-item {
      display: inline-block;
      list-style: none;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
      line-height: 32px;
      margin-left: 9px;
      text-align: center;
      box-shadow: 2px 2px 0 rgba(29,29,34,0.4);
      background-color: map-get($color, n_social);
    }
    .social-nav-item a {
      text-decoration: none;
      outline: none;
    }
    .social-nav-item img {
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: map-get($color, sky);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }
  }
/*nav*/
.navgation {
  height: 77px;
  background-color: map-get($color, sky);
  .nav-menu {
    margin: 0;
    padding: 0;
    .nav-menu-item {
      width: 160px;
      background: none;
      float: left;
      display: inline-block;
      border: none;
      border-left: 1px solid #91e5e9;
      border-right: 1px solid #37bdc6;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box
    }
    a {
      border: none;
      padding: 26px 0 27px;
      display: block;
      text-transform: uppercase;
      border-radius: 0;
      position: relative;
      letter-spacing: -0.5px;
      transition: all 0.3s ease 0s;
      font-weight: 600;
      overflow: hidden;
      color: map-get($color, white);
      font-family: 'OpenSans';
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }
    .home {
      width: 67px;
    }
    .home a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../images/home.png) no-repeat 50%;
      display: block;
      cursor: pointer;
    }
   }
  .form-seach {
    position: relative;
    width: 100%;
    text-align: right;
    margin: 16px -36px 0;
    top: 16px;
    .input {
      width: 242px;
      background: #54bac1;
      border-radius: 10px;
      padding-right: 40px;
      border: none;
      height: 39px;
      color: map-get($color, white);
      box-shadow: inset 1px 1px 0 #34da9af;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
    }
    .submit {
      position: absolute;
      right: 10px;
      top: 8px;
      margin: 0;
      padding: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: url(../images/search.png) no-repeat;
      width: 22px;
      height: 23px;
      box-shadow: none;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover{
        background-position: 0 -43px;
      };
    }
  }
}
 /*slide-shows*/
.slide-shows {
  height: 441px;
  background: url(../images/slide.png) no-repeat;
  .caption {
    width: 80%;
    padding: 149px 85px;
    .start {
      position: relative;
      top: 190px;
      right: 82px;
      .start-prev {
        left: 84px;
        width: 53px;
        height: 54px;
        top: auto;
        bottom: 108px;
        margin: 0;
        background: none;
        position: absolute;
        span {
          background: url(../images/nav-slider.png) no-repeat 0 0;
          @include span;
          &:hover {
            background-position: 0 -54px;
          }
        }
    }
    .start-next {
        width: 53px;
        height: 54px;
        top: auto;
        bottom: 108px;
        margin: 0;
        background: none;
        left: 139px;
        position: absolute;
        span {
          background: url(../images/nav-slider.png) no-repeat -52px 0;
          @include span;
          &:hover {
            background-position: -52px -54px;
          }
       }
    }
  }
    h2 {
      font-size: 50px;
      line-height: 50px;
      font-weight: 300;
      color: map-get($color, sky);
      margin: 0;
      display: block;
      font-family: 'OpenSans';
   }
   b {
    font-weight: 600px;
    color: map-get($color, white);
     font-family: 'OpenSansBold';
  }
 }
}
/*featured*/
.featured {
  height: 262px;
  background-color: map-get($color, gray_black);
  margin-top: 7px;
  box-shadow: 1px 2px 0 rgba(0,0,0,0.3);
  .title-featured {
    font-weight: 300;
    color: map-get($color, black);
    padding: 22px 32px 23px;
    font-family: 'OpenSans';
    font-size: 25px;
    background-image: linear-gradient(to bottom, #fff, #dedede);
  }
  .carousel {
    width: 1071px;
    height: 133px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .carousel-list {
    margin: 0px;
    padding: 0px;
  }
  .carousel-list-item {
    display: inline-block;
    float: left;
    list-style: none;
    width: 185px;
    height: 119px;
    background-color: red;
    margin: 0 8px;
    border: 6px solid map-get($color, white);
    &:hover {
      border-color: map-get($color, border_color);
    }
    img {
      display: block;
      margin: 0;
      padding: 0;
      max-width: 100%;
      max-height: 100%;
      border: none;
    }
  }
}
.nes-nav {
  position: relative;
  background-position: top right;
  .nes-nav-prev {
    left: -18px;
    background-position: top right;
  }
  .nes-nav-nest {
    text-indent: -9999px;
    width: 54px;
    position: absolute;
    height: 73px;
    right: -70px;
    top: 34px;
    background-position: -52px 2px;
    background: transparent url(../images/nav.png) no-repeat top right;
    opacity: 0.8;
    cursor: pointer;
     &:hover {
      background-position: -51px -73px;
    }
  }
}

/*news-content*/
.news-content {
  width: 1200px;
  margin-top: -190px;
  .gallary-news {
    box-sizing: border-box;
    .gallary-news-item {
      float: left;
      width: 270px;
      height: 431px;
      cursor: pointer;
      margin-right: 30px;
      @include rgb;
      .online-img {
        a {
          border: none;
          display: block;
          overflow: hidden;
        }
        img {
          vertical-align: middle;
          border: 0;
          width: 270px;
          height: 109px;
        }
     }
  }
  .colorgb {
    background-color: map-get($color, sky);
  }
  .colorgb1 {
    background-color: map-get($color, sky_1);
  }
  .colorgb2 {
    background-color: map-get($color, sky_2);
  }
  .colorgb3 {
    background-color: map-get($color, sky_3);
  }
}
  .btn-color1 {
     color: map-get($color, sky_1) !important;
  }
  .btn-color2 {
    color: map-get($color, sky_2) !important;
  }
  .btn-color3 {
    color: map-get($color, sky_3) !important;
  }
}
/**hello-content**/
.hello-content {
  .welcome-left {
    width: 571px;
    float: left;
    .gallary {
      width: 100%;
      margin-top: 30px;
    }
    .galary-event-img {
      float: left;
      width: 303px;
    }
    .galary-event-desc {
      float: left;
      width: 267px;
      height: 182px;
      color: map-get($color, black);
      h4 {
        font-weight: 300;
        margin-bottom: 15px;
        font-family: 'OpenSans';
        font-size: 20px;
      }
      p {
        margin-bottom: 50px;
        width: 240px;
        color: map-get($color, color_full);
      }
      }
      .text {
        text-align: left;
      p {
        margin-bottom: 50px;
      }
      .btn1 {
        @include btn;
      }
    }
    .title-box {
      .title-hello {
        font-size: 45px;
        line-height: 42px;
        margin: 8px 0 0;
        color: map-get($color, sky_char);
        font-weight: 600;
        font-family: 'OpenSansBold';
      }
      .title-our {
        font-size: 25px;
        line-height: 28px;
        margin: 1px 0 25px 5px;
        color: #181818;
        font-weight: 300;
        font-family: 'OpenSans';
      }
    }
  }

  .welcome-right {
    width: 563px;
    float: right;
     .gallary {
      width: 100%;
    }
    .galary-event-img {
      float: left;
      height: 307px;
      margin-top: 30px;
      h2 {
        margin-bottom: 33px;
        font-family: 'OpenSans';
        font-size: 25px;
        color: #181818;
        font-weight: 300;
      }
      p {
        margin-bottom: 26px;
      }
      span {
        color: map-get($color, sky_char);
         font-family: 'OpenSansBold';
      }

      .btn1 {
        @include btn;
      }
    }
    .galary-event-desc {
      float: left;
      width: 279px;
      height: 307px;
      background-color: map-get($color, white);
      margin-left: 14px;
      margin-top: 30px;
      h2 {
        padding: 0 14px;
        margin-bottom: 33px;
        font-family: 'OpenSans';
        font-size: 25px;
        color: map-get($color, colo_event);
      }
      span {
        color: map-get($color, sky_dam);
        font-family: 'OpenSansBold';
      }
      p {
        padding: 0 14px;
        margin-bottom: 26px;
        width: 350px;
      }
      b {
        padding: 0 14px;
      }
      strong {
        font-weight: 300!important;
      }
      .btn1 {
        @include btn;
      }
    }
  }
  .right {
    margin-top: -65px;
  }
}
/*footer-content*/
.full {
  background-color: map-get($color, btn);
  height: 415px;
  .footer-content {
    .logo-footer-left {
      float: left;
      padding-top: 16px;
      font-family: 'OpenSans';
      font-size: 16px;
      color: #d9bb4b;
      text-transform: uppercase;
      width: 500px;
      margin-top: 100px;
    }
    span {
      display: inline-block;
      vertical-align: bottom;
      padding: 13px 3px;
    }
    a {
      color: map-get($color, border_color);
      text-decoration: none;
      &:hover {
         color: map-get($color, sky);
      };
    }
    .footer-category-right {
      float: right;
      width: 649px;
      height: 349px;
      .gallar-cate {
        width: 100%;
      }
      @include list-footer;
    }
  }
}
